// color variants
@import 'themes-vars.module.scss';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  background: #f9fafc;
  a {
    text-decoration: none;
    color: #fff;
  }
}

// this will be  the icon container
.icon-container {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f25 {
  width: 5rem;
  height: 5rem;
}
//sidebar start here
.sidebar-container {
  // background-color: red;
  height: 100%;

  li {
    margin: 3rem 0;
    // background: green !important;
    svg {
      font-size: 3rem !important;
      color: #737373 !important;
    }
  }
}

//sidebar ends heres

// drawer start here
.main {
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(227, 242, 253, 0.9);
  border-radius: 16px;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.navigation-bar {
  .hamburg-continer {
    &:hover {
      svg {
        color: #fff;
      }
      background: #673ab7;
    }
  }
  .settingf25 {
    font-size: 2.5rem;
  }
}

//drawer ends here
