// color variants
@import 'themes-vars.module.scss';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  background: #f9fafc;
}

// this will be  the icon container
.icon-container {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f25 {
  width: 5rem;
  height: 5rem;
}
