.main {
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(227, 242, 253, 0.9);
  border-radius: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.navigation-bar {
  .hamburg-continer {
    &:hover {
      svg {
        color: #fff;
      }
      background: #673ab7;
    }
  }

  .icon-container {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .settingf25 {
    font-size: 2.5rem;
  }
}
