:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem !important;
    button {
      font-size: 1.6rem;
    }
  }
}

// color palletes used in whole project
$primary: '#00AB55';
$secondary: '#3366FF';
$error: '#FF5630';
$warning: '#FFAB00';
$info: '#00B8D9';
$success: '#36B37E';
